/* Basics */
* {
  padding: 0;
  margin: 0;
  color: #f0f0f0;
  text-decoration: none;
  font-family: 'Kadwa', sans-serif;
  font-weight: 400;
  transition: 0.70s;
  outline: none;
}
span{
  color: #00b7ff;
}
body {
  background: #00131d;
}
@media(max-width: 900px){
  .left-aside{
    left: -200%;
  }
}
/* Basics End */



/* Header & Nav */
header{
  background: #00131A;
  border-bottom: 1px solid #00d0ff4d;
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  z-index: 999999999;
  justify-content: space-around;
}

header .logo, nav .logo{
  color: #00D1FF;
}

.search input{
  border-radius: 1050px;
  padding: 7px !important;
  width: 40vh;
  background: #001C30;
  display: flex;
  align-items: center;
  gap: 20px;
  border: none;
}
header input::placeholder, nav input::placeholder{
  padding: 10px;
  font-size: 12px;
  color: #FFFFFF4A;
}

.search {
  display: flex;
  position: relative;
  align-items: center;
  width: 40vh;
}

.search svg {
  height: 15px;
  fill: #ffffff77;
  position: absolute;
  right: 20px;
}

header svg, nav svg {
  height: 25px;
}

@media(max-width:900px){
  header{
    display: none;
  }
  nav{
    display: flex !important;
  }
}

/* Header End */


/*Nav*/
nav{
  display: flex;
  align-items: center;
  z-index: 9999999999999999999999;
  justify-content: space-between;
  padding: 10px;
  background: #00131A;
  border-bottom: 1px solid #00d0ff4d;
}
#menu{
  padding: 7px;
  border-radius: 10px;
  background: #00151f;
  height: 30px;
  display: grid;
  place-items: center;
  width: 30px;
}
#menu .line{
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background: #00b7ff;
  margin-top: 0px;
}

.right-aside{
  padding: 10px;
  height: 100vh;
  background: linear-gradient(#001, #002, #001);
  width: 65vw;
  position: fixed;

  z-index: 9999999999999;
  right: -200%;
  top: 0;
}
.right-aside .search{
  margin-top: 100px;
}
.right-aside li{
  width: 200px;
  background: #002231a1;
  margin-top: 20px;
  list-style-type: none;
  border-radius: 5px;
}
.right-aside a{
  font-family: 'Karla';
}
.right-aside  button{
  width: 200px;
  background: #002;
  border: 2px white solid;
  border-radius: 2px;
  margin-top: 20px;
  height: 30px;
  font-family: 'Karla';
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#close{
  position: absolute;
  top: 30px;
  left: 10px;
}
#close:hover{
  color: #00b7ff;
}

@media (max-width:1440px) {
  header{
    display: flex !important;
  }
  nav{
    display: none !important;
  }
}
@media (max-width:900px) {
  nav{
    display: flex !important;
  }
  header{
    display: none !important;
  }
}
/*Nav End*/



/* Login */
.login-container{
  padding: 25px;
  filter: drop-shadow(1px 1px 100px #00d0ff4f);
  background: #00121C;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10vh;
  position: fixed;
  width: 90%;
  max-width: 300px;
  display: grid;
  place-items: center;
}
.login-container input:hover{
  box-shadow: 1px 1px 15px #0005FF1C;
}
.login-container h1{
  margin-top: 25px;
  color: #00b7ff;
}
.login-container h1, .login-container form span{
  font-family: "Karla", sans-serif;
}
form span{
  margin-left: 10px;
}
#errorMsg {
  color: red;
  font-weight: bold;
  display: none;
  height: 30px;
  padding: 10px;
  text-align: center;
}

.errorMsg span {
  color: red;
}

form input {
  width: 40vh;
  background: #002231;
  padding: 10px;
  font-family: "Karla", sans-serif;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
form input::placeholder{
  font-weight: bold;
  color: #ffffff77;
}
form button{
  width: 120px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #001535;
  background: #00b7ff;
  margin-top: 10px;
  box-shadow: 0px 0px 20px #ffffff1f;
}
.line{
  background: #ffffff7e;
  height: 1px;
  margin-top: 15px;
}
.login-container h4{
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.login-container h4 a{
  color: #00b7ff;
}
.social{
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  display: flex;
}
.social-icon{
  padding: 5px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: #001f2b;
}
.social-icon svg{
  height: 30px;
  fill: #ffffffd8;
}
.social-icon:hover , .social-icon svg:hover{
  background: #00b7ff;
  fill: #002231
}
summary{
  background: #002231;
  width: 150px;
  height: 25px;
  border-radius: 10px;
  padding: 3px;
  color: #ffffffa2;
  font-size: 15px;
  font-family: 'Karla';
  display: grid;
  place-items: center;
  margin-top: 10px;
}
.left-aside summary{
  margin-left: 2px;
}
details{
  display: grid;
  place-items: center;
}
details li{
  margin-top: 10px;
  list-style-type: none;
}
details a{
  font-family: 'Karla';
}
details a:hover{
  color: #00b7ff;
}
/* Login End */



/*Home Page*/
.left-aside{
  background: linear-gradient(#001b27, #001231, #00121a);
  height: 100vh;
  width: 200px;
  padding: 5px;
  box-shadow: 0px 1px 20px #002;
  overflow: scroll;
  z-index: 99999999999999999;
  position: fixed;
}
.left-aside::-webkit-scrollbar{
  opacity: 0;
}

.left-aside h2{
  font-family: 'Karla';
  font-size: 27px;
  font-weight: bolder;
  margin-top: 50px;
}

.left-aside textarea{
  width: 90%;
  height: 100px;
  margin-top: 30px;
  border: none;
  background: #012033;
  padding: 10px;
  font-family: 'Karla';
  border-radius: 10px;
}
.left-aside textarea::placeholder{
  text-align: center;
  color: #ffffff96;
  position: absolute;
}
.left-aside input{
  background: #012033;
  border: none;
  border-radius: 10px;
  padding: 3px;
  margin-top: 10px;
}
.left-aside input::placeholder{
  color: #ffffff8e;
  font-weight: bold;
  font-family: 'Karla';
}
.left-aside button{
  width: 120px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #001535;
  background: #00b7ff;
  margin-top: 10px;
  margin-left: -60px;
  box-shadow: 0px 0px 20px #94eaff1f; 
}



/*===========================================*/

.posts{
  margin-top: 30px;
}

.post{
  max-width: 300px;
  border-radius: 10px;
  position: relative;
  max-height: 300px;
  margin-top: 15px;
  background: #001320;
  overflow-y: scroll;
  box-shadow: 1px 1px 70px #ffffff0a;
  padding: 20px;
  border: 1px #302f2f solid;
}
.post p, .post h3, .post span{
  font-family: 'Rubik';
  margin-top: 20px;
}
.post::-webkit-scrollbar{
  opacity: 0;
}
.post-top{
  display: flex;
  align-items: center;
  gap: 10px;
}
.post-top img{
  width: 50px;
  border-radius: 100px;
}
.post-bottom{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
}
.post-bottom button{
  background: #00b7ff;
  border: none;
  padding: 5px;
  padding-inline: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  border-radius: 10px;
  width: 140px;
  justify-content: center;
} 
.post-bottom .btn-2{
  background: white;
  font-weight: bold;
  color: #002;
}
/*Home Page End*/